# Test

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from src.processors.Preprocessor import Preprocessor

import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn.objects as so

from src.model_experimentation.model_experimentation import validated_tf

import tensorflow as tf
from

2023-05-30 16:45:55.386980: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-05-30 16:45:55.437128: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-30 16:45:57.016237: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
validated_tf()

TensorFlow version: 2.12.0
PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')
PhysicalDevice(name='/physical_device:GPU:1', device_type='GPU')

Test data

In [6]:
X_test = pd.read_parquet('/projects/p31961/dopamine_modeling/data/prototype_data/X_test.parquet.gzip')

In [ ]:
ltsm_model = tf.keras.models.load_model('/projects/p31961/dopamine_modeling/results/models/ltsm_prototype')

In [7]:
X_test

        day       time  trial  event_avoid  sensor_DA
274662    7 -25.000000      6            1          1
274663    7 -24.999018      6            1          1
274664    7 -24.998034      6            1          1
274665    7 -24.997051      6            1          1
274667    7 -24.995085      6            1          1
...     ...        ...    ...          ...        ...
366208    7  19.993118      7            1          1
366209    7  19.994102      7            1          1
366211    7  19.996067      7            1          1
366213    7  19.998034      7            1          1
366215    7  20.000000      7            1          1

[63401 rows x 5 columns]

In [10]:
ltsm_model = tf.keras.models.clone_model(ltsm_model)

AttributeError: type object '_UserObject' has no attribute 'from_config'